<nav>
    <a href="https://github.com/QUANFEILI" target="_blank">GitHub</a> ⭐
    <a href="https://QUANFEILI.github.io/" target="_blank">GitHub.io</a> ⭐
    <a href="https://www.freecodecamp.org/QUANFEI" target="_blank">freeCodeCamp</a> ⭐
    <a href="www.linkedin.com/in/quanfei-li" target="_blank">LinkedIn</a> ⭐
    <a href="website_evaluations.html">Website Evaluations</a>
</nav>
<p><i>"Service with Quality, Crafted with Care!"</i></p>
<p><small>Designed by <a href ="quanfei.co/quanfeiinc.html">Quanfei inc.</a> ©2024, <a href ="https://www.freecodecamp.org/certification/QUANFEI/responsive-web-design">Certified in Responsive Web Design</a></small></p>  