<h1>Quanfei Li | Qualified Lion</h1>
<nav>
    <a href="https://webpages.charlotte.edu/qli18/itis3135/">ITIS3135</a> -
    <a href="https://webpages.charlotte.edu/qli18/itis3135/information.html">Introduction</a> -
    <a href="components/contract.html">Contract</a> -
    <a href="https://webpages.charlotte.edu/qli18/itis3135/about.html" target="_blank">About</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="stuff/ThIs Is A WeIrD WeBpaGe😜.html">CRAPPY Webpage<small>(You'd better not click it</small>)</a>
    <a href="tables.html">Tables</a> 
    <a href="forms.html">Forms</a>
</nav>